.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    width: 100%;
}

.button-container a {
    text-decoration: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 150px;
    height: 50px;
    border: 3px solid darkgreen;
    border-radius: 7px;
    background-color: green;
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: all 250ms;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #212121;
    z-index: -1;
    transition: all 250ms;
}

button:hover {
    color: #30db3f;
}

button:hover::before {
    width: 100%;
}

#back-btn::before {
    left: auto;
    right: 0;
}